body {
	color: #000;
	font: 12px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

#progress {
	overflow: hidden;
	height: 16px;
	width: 156px;
	background: #666;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 5px;
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.1);
}

#bar {
	margin-top: -1px;
	margin-left: -1px;
	width: 0px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #c0c0c0;
}

#wrapper {
	width: 156px;
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
}

#downloaded {
	text-align: center;
	height: 17px;
}

#cancel {
	margin-top: 20px;
	font-size: 12px;
}

.cancel {
	text-align: center;
}
