

@font-face {
    font-family: 'ChunkFive';
    src: url('/font/Chunkfive-webfont.eot');
    src: url('/font/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/Chunkfive-webfont.woff') format('woff'),
         url('/font/Chunkfive-webfont.ttf') format('truetype'),
         url('/font/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


:focus {
	outline: none;
}

::selection {
	background: transparent;
}

body, #loading-overlay {
	background: #343434 url(/img/bg.jpg);
	background-position: 0px -300px;
}
body {
	color: #eee;
	font: 12px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.6em;
	text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
}

.wrapper {
	background: url(/img/bg-blue.png) no-repeat;
	background-position: 270px 380px;
	padding: 10px;
	height: 100%;
}

td {
	padding: 2px;
}

label {
	padding-left: 5px;
}

td:first-child {
	width: 400px;
}

input, select, button {
	font-size: 12px;
}

input[type="text"] {
	width: 280px;
	padding: 3px;
	background: #ddd;
}

#browse {
	margin-left: 15px;
	background: #fff;
}

#browse, input[type="text"] {
	height: 23px;
	border-radius: 3px;
	border: 1px solid #111;
}

p {
	text-align: justify;
}

h1 {
	font: 23px ChunkFive, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.4em;
	color: #67aaf7;
}

button {
	padding: 3px;
	margin-left: 0;
}

.header {
	margin-bottom: 18px;
}

.footer {
	margin-top: 40px;
}

.devin {
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 15px;
	cursor: pointer;
}

#loading-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}
