
:focus {
	outline: none;
}

::selection {
	background: #414b59;
	color: #fff;
}


* {
	-webkit-user-select: none;
}

html {
	-webkit-app-region: drag;
}

body {
	font: 12px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	line-height: 1.6em;
	overflow: hidden;
	background: #272e3b;
}
.platform-darwin .content {
	padding-top: 15px;
}

.content {
	margin: 10px;
	display: none;
}
.content.loaded {
	display: block;
}

td {
	padding: 2px;
}

label {
	padding-left: 5px;
}

td:first-child {
	width: 400px;
}

input, select, button {
	font-size: 12px;
	-webkit-app-region: no-drag;
}

input, select, button, body {
	color: #d0d0d0;
}

input[type="text"] {
	padding: 7px;
	background: none;
	height: 23px;
	border-radius: 3px;
	border: 1px solid #9cb4d1;
	width: 280px;
}

p {
	text-align: justify;
}

h1 {
	font: 31px Bebas Neue, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 1.4em;
	color: #000;
}

button {
	padding: 6px 10px 6px 10px;
	margin-left: 15px;
	border: 1px solid #22b8eb;
	color: #22b8eb;
	background: none;
	border-radius: 2px;
	text-transform: uppercase;
	cursor: pointer;
}

input[type="text"], button {
	height: 30px;
}

.header {
	margin: 5px 0 15px 0;
}

.footer {
	margin-top: 20px;
}

.devin {
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 15px;
	cursor: pointer;
}

.red {
	color: #f26c4f;
}

.server-status-icon {
	float: right;
	height: 18px;
	width: 15px;
}

.registration p {
	margin-bottom: 6px;
}